<html>
  <head>
    <title>This is home</title>
    <style>
      a {background-color:black; color:white; }
      p {color: gray; text-align:center;}
      h1 {color: blue; text-align:center}
      table,th,tr,td
      {
        color: red;
        padding: 10px;
          border: 2px solid blue;
          text-align:center;
        border-collapse: collapse;
        background-color:yellow;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to my Home!!</h1>
    <p>
    <a href="http://www.naver.com" target="_blank">네이버</a>
    <br>
    <a href="http://www.daum.net", target="_parent">다음</a>
    <br>
    </p>

    <table>
      <tr>
        <td>한국</td>
        <td>일본</td>
        <td>중국</td>
      </tr>
      <tr>
        <td>한글</td>
        <td>히라가나</td>
        <td>중궈</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
    </table>
    <br>

    <ui>
      <li>사과</li>
      <li>배</li>
      <li>딸기</li>
    </ui>
    <br>
  </body>
</html>

<%= link_to '링크로 가는 길', welcome_link_path %>